<div [@bounce]="bounceDivState" class="row">
    <img class="about-me-img" alt="Profile" src="assets/images/about_me.svg" />
    <div class="about-me">
        <div class="title">About Me</div>
        <p>
            I’m Janardhanarao Burle, a professional and talented Angular | Flutter Developer with front end development skills. I am passionate about leveraging my diverse backgrounds to decipher challenging problems and create delightful experiences. I honed my
            skills at web development, technical writing, product design and SEO analytics. I develop websites with HTML, CSS and JavaScript. I have top skills in using design softwares like Figma, Adobe XD, Invision and PhotoShop; with prototype tools
            like Framer and Protopie. Being a diligent, hardworking and result oriented lady, I always work towards achieving best result on each project I lay my hands on.
        </p>
    </div>
</div>