:host {
    $background-color: #3d5980;
    $bar-empty: #e6e6e6;
    $bar-color: #3c88cd;
    $glow-width: 60px;
    $glow-radius: 10px;
    $glow-color: #04bfff;
    font-family: 'Cairo', sans-serif;
    .title {
        text-align: center;
        font-size: 34px;
        color: #004a8b;
        margin: 20px auto;
    }
    .highlight {
        color: #6c63ff;
        font-size: 18px;
        padding: 0 5px;
    }
    .row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px 0;
        align-items: center;
        .left {
            width: 30%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            img {
                width: 100%;
            }
        }
        .card {
            width: 200px;
            border: 1px solid #f2f2f2;
            padding: 20px;
            border-radius: 10px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            img {
                height: 100px;
            }
            p {
                font-size: 15px;
                text-align: center;
            }
        }
        .card-small {
            width: 200px;
            border: 1px solid #f2f2f2;
            padding: 15px;
            border-radius: 10px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            img {
                height: 80px;
            }
            p {
                font-size: 15px;
                text-align: center;
            }
        }
        app-progress-bar {
            width: 100%;
        }
        .right {
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            width: 60%;
            margin-left: 30px;
            .title {
                font-size: 32px;
                color: #004a8b;
            }
            .link {
                color: #004b8a;
                text-decoration: none;
            }
            .tech-stack {
                font-size: 20px;
                margin: 35px auto 10px;
                color: #004a8b;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .row {
            display: flex;
            flex-direction: column-reverse;
            margin: 0;
            .left {
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                min-height: 0px;
                min-width: 0;
            }
            .right {
                width: 100%;
                margin-left: 0;
                .tech-stack {
                    font-size: 18px;
                    margin: 15px auto 5px;
                    color: #004a8b;
                }
            }
            .card,
            .card-small {
                width: 40%;
                border: 1px solid #f2f2f2;
                padding: 10px;
                border-radius: 10px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 5px auto;
                img {
                    width: 75%;
                    height: auto;
                }
                p {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
        .mob {
            display: flex;
            flex-direction: row;
        }
        .title {
            font-size: 24px;
            color: #004a8b;
            margin-bottom: 0;
            text-align: start;
        }
    }
}