:host {
    .floating-menu {
        display: none;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: appfont2;
        padding: 10px 100px;
        background: var(--background-default);
        ;
        .profile-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--foreground-default);
            cursor: pointer;
            .profile-pic {
                border-radius: 50%;
                height: 65px;
                width: 65px;
                transform: scale(1);
                animation: pulse 2s infinite;
            }
            @keyframes pulse {
                0% {
                    transform: scale(0.95);
                    box-shadow: var(--profile-shadow-0);
                }
                70% {
                    transform: scale(1);
                    box-shadow: var(--profile-shadow-7);
                }
                100% {
                    transform: scale(0.95);
                    box-shadow: var(--profile-shadow-10);
                }
            }
            .text {
                display: flex;
                align-items: start;
                flex-direction: column;
                margin-left: 15px;
                justify-content: space-around;
                line-height: 30px;
                /* Tutorial on https://fossheim.io/writing/posts/css-text-gradient. */
                .name {
                    /* Fallback: Set a background color. */
                    background-color: #CA4246;
                    font-size: 30px;
                    font-family: appfont;
                    font-weight: bold;
                    /* Create the gradient. */
                    background-image: linear-gradient( 45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
                    /* Set the background size and repeat properties. */
                    background-size: 100%;
                    background-repeat: repeat;
                    /* Use the text as a mask for the background. */
                    /* This will show the gradient as a text color rather than element bg. */
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    /* Animate the text when loading the element. */
                    /* This animates it on page load and when hovering out. */
                    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
                }
                .gradient-text:hover {
                    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
                }
                /* Move the background and make it smaller. */
                /* Animation shown when entering the page and after the hover animation. */
                @keyframes rainbow-text-simple-animation-rev {
                    0% {
                        background-size: 650%;
                    }
                    40% {
                        background-size: 650%;
                    }
                    100% {
                        background-size: 100%;
                    }
                }
                /* Move the background and make it larger. */
                /* Animation shown when hovering over the text. */
                @keyframes rainbow-text-simple-animation {
                    0% {
                        background-size: 100%;
                    }
                    80% {
                        background-size: 650%;
                    }
                    100% {
                        background-size: 650%;
                    }
                }
                .desc {
                    font-size: 16px;
                    color: var(--foreground-tertiary);
                    display: flex;
                    align-items: center;
                    justify-self: center;
                }
            }
        }
    }
    .menu-btn {
        display: none;
    }
    .toolbar {
        z-index: 21;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .router-link {
            margin: 5px 5px;
            padding: 0px 10px;
            cursor: pointer;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
        }
        .router-link:hover {
            cursor: pointer;
        }
        .title {
            color: var(--foreground-tertiary);
            position: relative;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 16px;
            .las {
                font-family: 'Line Awesome Free';
                font-weight: 900;
                font-size: 22px;
                font-weight: bold;
                color: var(--foreground-default);
                margin-right: 5px;
            }
            span {
                overflow: hidden;
                /* Hide the element content, while height = 0 */
                transition: height 0ms 400ms, opacity 400ms 0ms;
            }
        }
        .title::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 3px;
            background-color: #2f2d41;
            left: 50%;
            bottom: -5px;
            transition: all 0.4s ease-in-out;
        }
        .router-link:hover .title::after {
            width: 100%;
            left: 0;
        }
        .title:hover {
            span {
                height: auto;
                opacity: 1;
                transition: height 0ms 0ms, opacity 600ms 0ms;
            }
        }
        .activated-route::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background-color: #2f2d41;
            left: 0;
            bottom: -5px;
            transition: all 0.4s ease-in-out;
        }
    }
    .toolbar-bg {
        background-color: var(--foreground-default) !important;
    }
    .toolbar img {
        margin: 0 16px 0 0;
        border-radius: 50%;
        background: var(--background-default);
    }
    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }
    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }
    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }
    @media only screen and (max-width: 600px) {
        .floating-menu {
            display: flex;
            align-items: flex-end;
            justify-content: right;
            flex-direction: column;
            position: absolute;
            right: 0px;
            transition: all .2s ease-in-out;
            .menu-items {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 0 15px;
                border: 1px solid #cfcfcf5e;
                background: var(--background-default);
                border-radius: 10px;
                padding: 0 10px;
                width: 150px;
                transition: all .2s ease-in-out;
                box-shadow: var(--background-shadow);
                .router-link {
                    text-decoration: none;
                    width: 100%;
                    border-bottom: 1px solid #ededed;
                    padding: 10px;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: var(--foreground-tertiary);
                        display: flex;
                        align-items: center;
                        i {
                            margin-right: 10px;
                            font-size: 25px;
                        }
                    }
                }
                .router-link:last-child {
                    border-bottom: none;
                }
            }
        }
        .header {
            padding: 10px;
            .profile-section {
                .profile-pic {
                    height: 50px;
                    width: 50px;
                }
                .text {
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    margin-left: 15px;
                    justify-content: space-around;
                    line-height: 24px;
                    .name {
                        font-size: 22px;
                    }
                    .desc {
                        font-size: 15px;
                        color: var(--foreground-tertiary);
                        display: flex;
                        align-items: center;
                        justify-self: center;
                    }
                }
            }
            .toolbar {
                display: none;
            }
            .menu-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                .menu-open {
                    display: flex;
                    flex-direction: column;
                    width: 30px;
                    height: 25px;
                    justify-content: space-around;
                    align-items: flex-end;
                    transition: all .2s ease-in-out;
                    .span-1 {
                        width: 30px;
                        background: var(--foreground-tertiary);
                        height: 2px;
                        transition: all .2s ease-in-out;
                    }
                    .span-2 {
                        width: 20px;
                        background: var(--foreground-tertiary);
                        height: 2px;
                        transition: all .2s ease-in-out;
                    }
                    .span-3 {
                        width: 10px;
                        background: var(--foreground-tertiary);
                        height: 2px;
                        transition: all .2s ease-in-out;
                    }
                }
                .menu-close {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 30px;
                    height: 30px;
                    justify-content: center;
                    position: relative;
                    .span-1 {
                        width: 30px;
                        background: var(--foreground-tertiary);
                        height: 2px;
                        transform: rotate(45deg);
                        top: 15px;
                        position: absolute;
                        transition: all .2s ease-in-out;
                    }
                    .span-2 {
                        width: 30px;
                        background: var(--foreground-tertiary);
                        height: 2px;
                        transform: rotate(-45deg);
                        top: 15px;
                        position: absolute;
                        transition: all .2s ease-in-out;
                    }
                }
                .menu-img {
                    height: 16px;
                    transition: .5s;
                }
            }
        }
    }
}