<div class="header">
    <div class=" profile-section">
        <img class="profile-pic" src="assets/images/profile.png" alt="" srcset="">
        <div class="text">
            <div class="name">
                <span>Janardhanarao Burle</span>
            </div>
            <div class="desc">
                <div>Frontend Developer</div>
                <img src="assets/images/mac.svg" width="20" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="menu-btn">
        <div class="theme" title="Explore {{theme.name=='light'?'Dark':'Light'}} mode" (click)="changeTheme()">
            <ng-lottie [options]="theme.name!='light'?optionsSun:optionsMoon">
            </ng-lottie>
        </div>
        <div (click)="hideMenu=!hideMenu;">
            <div *ngIf="hideMenu;else close" class="menu-open">
                <div class="span-1"></div>
                <div class="span-2"></div>
                <div class="span-3"></div>
            </div>
            <ng-template #close>
                <div class="menu-close">
                    <div class="span-1"></div>
                    <div class="span-2"></div>
                </div>
            </ng-template>
        </div>

    </div>
    <div class="toolbar" role="banner">
        <ng-container *ngFor="let router of routerLinks">
            <div class="router-link">
                <a class="title" href="#{{router.path}}" title="{{router.label}}">
                    <i class="las" [ngClass]="router.icon"></i>
                </a>
            </div>
        </ng-container>
        <div class="theme" title="Explore {{theme.name=='light'?'Dark':'Light'}} mode" (click)="changeTheme()">
            <ng-lottie [options]="theme.name!='light'?optionsSun:optionsMoon">
            </ng-lottie>
        </div>
    </div>
</div>


<div *ngIf="!hideMenu" class="floating-menu">
    <div class="menu-items">
        <ng-container *ngFor="let router of routerLinks">
            <div class="router-link">
                <a class="title" href="#{{router.path}}" (click)="hideMenu=!hideMenu;" title="{{router.label}}">
                    <i class="las" [ngClass]="router.icon"></i> {{router.label}}
                </a>
            </div>
        </ng-container>
        <!-- <button (click)="changeTheme()">change Theme</button> -->

    </div>
</div>