:host {
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;
        .profile-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 160px;
            font-size: 26px;
            color: #00498c;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
    .toolbar {
        z-index: 21;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .router-link {
            margin: 5px 5px;
            padding: 0px 10px;
            cursor: pointer;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
        }
        .router-link:hover {
            cursor: pointer;
        }
        .title {
            color: #0a65c2;
            position: relative;
            text-decoration: none;
        }
        .title::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 3px;
            background-color: #0a65c2;
            left: 50%;
            bottom: -5px;
            transition: all 0.4s ease-in-out;
        }
        .router-link:hover .title::after {
            width: 100%;
            left: 0;
        }
        .activated-route::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background-color: #0a65c2;
            left: 0;
            bottom: -5px;
            transition: all 0.4s ease-in-out;
        }
    }
    .toolbar-bg {
        background-color: #00498c !important;
    }
    .toolbar img {
        margin: 0 16px 0 0;
        border-radius: 50%;
        background: #FFF;
    }
    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 8px;
    }
    .toolbar #youtube-logo {
        height: 40px;
        margin: 0 16px;
    }
    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
        opacity: 0.8;
    }
}