:host {
    $background-color: #3d5980;
    $bar-empty: #e6e6e6;
    $bar-color: #3c88cd;
    $glow-width: 60px;
    $glow-radius: 10px;
    $glow-color: #04bfff;
    font-family: 'Cairo', sans-serif;
    padding: 10px;
    .title {
        text-align: center;
        font-size: 34px;
        color: #004a8b;
        margin: 20px auto;
    }
    .title-desc {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px 0;
        .card {
            width: 80%;
            // border: 1px solid #f2f2f2;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            cursor: pointer;
            transition: "all .2s ease-in-out";
            img {
                width: 100%;
                border-radius: 10px;
            }
            p {
                font-size: 15px;
                text-align: center;
            }
            .project-info {
                display: none;
            }
        }
        .card:hover {
            .project-info {
                position: absolute;
                top: 0;
                width: 93%;
                height: 90%;
                border-radius: 10px;
                background: #ffffffde;
                padding: 20px;
                .name {
                    font-size: 24px;
                    color: #004a8b;
                }
                .desc {
                    font-size: 16px;
                    color: #000;
                    margin-bottom: 15px;
                }
                .btns {
                    display: flex;
                    width: 50%;
                    align-items: center;
                    justify-content: space-around;
                }
            }
        }
        app-progress-bar {
            width: 100%;
        }
        .project-name {
            font-size: 24px;
            color: #004a8b;
        }
    }
    @media only screen and (max-width: 600px) {
        .title {
            font-size: 24px;
            color: #004a8b;
            margin: 0;
            text-align: start;
        }
        .row {
            .card {
                width: 100%;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                cursor: pointer;
                .project-info {
                    display: none;
                }
                .project-info:hover {
                    display: none;
                }
            }
        }
    }
}