:host {
    $background-color: #3d5980;
    $bar-empty: #e6e6e6;
    $bar-color: #3c88cd;
    $glow-width: 60px;
    $glow-radius: 10px;
    $glow-color: #04bfff;
    font-family: 'Cairo', sans-serif;
    padding: 10px;
    .title {
        text-align: center;
        font-size: 34px;
        color: #004a8b;
        margin-top: 20px;
    }
    .title-desc {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px 0;
        .card {
            width: 80%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            cursor: pointer;
            img {
                width: 100%;
                border-radius: 10px;
            }
            p {
                font-size: 15px;
                text-align: center;
            }
            .project-info {
                width: 0;
                transition: .5s;
                .name {
                    display: none;
                    transition: .5s;
                }
                .desc {
                    display: none;
                    transition: .5s;
                }
                .btns {
                    display: none;
                    transition: .5s;
                }
            }
            .hr {
                display: none;
            }
        }
        .card:hover {
            .project-info {
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                border-radius: 10px;
                background: #ffffffed;
                padding: 20px;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .name {
                    display: flex;
                    font-size: 24px;
                    color: #004a8b;
                }
                .desc {
                    display: flex;
                    font-size: 16px;
                    color: #000;
                    margin-bottom: 15px;
                }
                .btns {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    a {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        app-progress-bar {
            width: 100%;
        }
        .project-name {
            font-size: 24px;
            color: #004a8b;
        }
    }
    @media only screen and (max-width: 600px) {
        .title {
            font-size: 24px;
            color: #004a8b;
            margin: 0;
            text-align: start;
        }
        .title-desc {
            text-align: left;
        }
        .row {
            .card,
            .card:hover {
                width: 100%;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                cursor: pointer;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
                p {
                    font-size: 15px;
                    text-align: center;
                }
                .project-info {
                    position: static;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background: #ffffffed;
                    padding: 20px 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .name {
                        display: flex;
                        font-size: 20px;
                        color: #004a8b;
                    }
                    .desc {
                        display: flex;
                        font-size: 14px;
                        color: #000;
                        margin-bottom: 10px;
                    }
                    .btns {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        a {
                            font-size: 12px;
                            margin-bottom: 10px;
                            padding: 10px;
                        }
                    }
                    .hr {
                        display: block;
                        width: 100%;
                        height: 0;
                        border: 1px solid #e6e6e682;
                    }
                }
            }
        }
    }
}