:host {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    .terminal {
        position: relative;
        width: 100%;
        min-height: 550px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #cfcfcf5e;
        background: #FFF;
        .profile-img {
            width: 100%;
        }
        .header {
            background: #3a3a3a;
            color: #c2c3c4;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .dots {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                .dot {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin: 5px;
                }
                .dot-red {
                    background-color: red;
                }
                .dot-grey {
                    background-color: yellow;
                }
                .dot-green {
                    background-color: #42ff42;
                }
            }
        }
        .typing {
            background: #2a82cd;
            padding: 0px 5px;
            border-radius: 20px;
            color: #FFF;
            font-size: 22px;
            font-weight: 500;
        }
        .body {
            padding: 15px;
            margin: 0;
            text-align: left;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: row;
            line-height: 22px;
            .left {
                width: 70%;
                .content {
                    color: #000000;
                    font-size: 13px;
                    line-height: 20px;
                    margin: 0;
                    .visible {
                        font-size: 22px;
                        color: #000;
                        font-family: "Cairo", sans-serif;
                        line-height: 35px;
                    }
                    .name {
                        font-size: 30px;
                        color: #0a65c2;
                        font-weight: bold;
                        font-family: "Cairo", sans-serif;
                        line-height: 35px;
                    }
                    .desc {
                        font-size: 16px;
                        color: #000;
                        font-family: "Cairo", sans-serif;
                        line-height: 25px;
                    }
                    .tech-stack-group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 0 110px 0;
                        color: #0964c2;
                        font-size: 18px;
                        font-family: "Cairo", sans-serif;
                    }
                    .item {
                        display: flex;
                        width: 100px;
                        margin: 5px;
                        padding: 10px;
                        border: 1px solid #5c91d442;
                        border-radius: 5px;
                        font-family: "Cairo", sans-serif;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .right {
                width: 30%;
            }
        }
        .body:hover {
            padding: 15px;
            margin: 0;
            text-align: left;
            min-height: 250px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: row;
            line-height: 22px;
            cursor: pointer;
            .left {
                .content {
                    color: #ccccccc2;
                    font-size: 13px;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
    }
    .action-btns {
        display: flex;
        margin: 10px 0;
        font-family: "Cairo", sans-serif;
        align-items: center;
        justify-content: center;
    }
}