:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .action-btns-mob {
        display: none;
    }
    .terminal {
        position: relative;
        width: 100%;
        min-height: 550px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--border-color-secondary);
        background: var(--background-default);
        .profile-img {
            width: 100%;
        }
        .header {
            background: var(--background-light);
            color: #4e4e4e;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: 1px solid var(--foreground-quaternary);
            .dots {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                .dot {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin: 5px;
                }
                .dot-red {
                    background-color: #ff5f57;
                }
                .dot-grey {
                    background-color: #fdbc2d;
                }
                .dot-green {
                    background-color: #28c740;
                }
            }
        }
        .typing {
            background: #2a82cd;
            padding: 0px 5px;
            border-radius: 20px;
            color: #FFF;
            font-size: 22px;
            font-weight: 500;
        }
        .body {
            padding: 15px;
            margin: 0;
            text-align: left;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: row;
            line-height: 22px;
            .left {
                width: 70%;
                .intro {
                    display: block;
                }
                .intro-mob {
                    display: none;
                }
                .content {
                    color: var(--foreground-quaternary);
                    font-size: 13px;
                    line-height: 20px;
                    margin: 0;
                    .visible {
                        font-size: 22px;
                        color: var(--foreground-tertiary);
                        font-family: "Cairo", sans-serif;
                        line-height: 35px;
                    }
                    .name {
                        font-size: 30px;
                        color: var(--foreground-default);
                        font-weight: bold;
                        font-family: "Cairo", sans-serif;
                        line-height: 35px;
                    }
                    .desc {
                        font-size: 16px;
                        color: var(--foreground-tertiary);
                        font-family: "Cairo", sans-serif;
                        line-height: 25px;
                    }
                    .tech-stack-group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 0 110px 0;
                        color: var(--foreground-default);
                        font-size: 18px;
                        font-family: "Cairo", sans-serif;
                    }
                    .item {
                        display: flex;
                        margin: 5px;
                        padding: 10px;
                        border: 1px solid #5c91d442;
                        border-radius: 5px;
                        font-family: "Cairo", sans-serif;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .right {
                width: 30%;
            }
        }
        .body:hover {
            padding: 15px;
            margin: 0;
            text-align: left;
            min-height: 250px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: row;
            line-height: 22px;
            cursor: pointer;
            .left {
                .content {
                    color: var(--foreground-quaternary);
                    font-size: 13px;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
    }
    .action-btns {
        display: flex;
        margin: 10px 0;
        font-family: "Cairo", sans-serif;
        align-items: center;
        justify-content: center;
    }
    @media only screen and (max-width: 600px) {
        .action-btns-mob {
            display: flex;
        }
        .terminal {
            margin: 10px;
            .header {
                padding: 5px;
                .dots {
                    .dot {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            .body {
                .left {
                    .intro {
                        display: none;
                    }
                    .intro-mob {
                        display: block;
                    }
                    .content {
                        font-size: 12px;
                        color: var(--foreground-quaternary);
                        .visible {
                            font-size: 20px;
                            color: var(--foreground-tertiary);
                            font-family: "Cairo", sans-serif;
                            line-height: 30px;
                        }
                        .tech-stack-group {
                            display: flex;
                            flex-direction: row;
                            margin: -20px 0 -20px 20px;
                            align-items: center;
                            color: var(--foreground-default);
                            font-size: 18px;
                            font-family: "Cairo", sans-serif;
                        }
                        .name {
                            font-size: 24px;
                        }
                        .item {
                            padding: 0;
                            border: none;
                        }
                    }
                }
            }
            .right {
                display: none;
            }
            .profile-img {
                width: 100%;
            }
        }
    }
}