:host {
    .profile-img {
        position: absolute;
        bottom: -50px;
        right: -150px;
        z-index: 10;
        width: 600px;
    }
    .profile-body {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin: 20px 70px;
        min-height: 400px;
        .name {
            font-size: 22px;
            color: #00498c;
            margin-left: 5px;
        }
    }
    .terminal {
        position: relative;
        min-width: 400px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: #0f0f100d;
        .typing {
            background: #2a82cd;
            padding: 0px 5px;
            border-radius: 20px;
            color: #FFF;
            font-size: 22px;
            font-weight: 500;
        }
        p {
            color: #000;
            padding: 0 1rem 1rem;
            margin: 0;
            text-align: left;
            height: 200px;
            width: 400px;
            line-height: 30px;
        }
    }
    .terminal::before {
        content: "\2022 \2022 \2022";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background: rgb(58, 58, 58);
        color: #c2c3c4;
        width: 100%;
        font-size: 2rem;
        line-height: 0;
        padding: 14px 0;
        text-indent: 4px;
    }
    .action-btns {
        display: flex;
        margin: 30px 0;
    }
}