<div [@bounce]="bounceDivState" class="terminal">
    <div class="header">
        <div class="dots">
            <span class="dot dot-red"></span>
            <span class="dot dot-grey"></span>
            <span class="dot dot-green"></span>
        </div>
    </div>
    <div class="body">
        <div class="left">
            <div class="intro"></div>
            <div class="intro-mob"></div>
        </div>
        <div class="right">
            <img data-aos="flip-up" class="profile-img" alt="Profile" [src]="theme.name=='light'?'assets/images/full.svg':'assets/images/full_n.svg'" />
            <div class="action-btns">
                <a data-aos="fade-right" href="https://www.linkedin.com/in/its-me-janardhan-burle/" target="_blank" class="btn btn-primary" tabindex="0">
                    <i class="lab la-linkedin"></i>
                    <span>Hire Me</span>
                </a>
                <div style="margin-left: 50px;"></div>
                <a data-aos="fade-left" class="btn btn-secondary" target="_blank" href="assets/files/Janardhan_Resume.pdf" tabindex="1">
                    <i class="las la-file-alt"></i>
                    <span>Resume</span>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="action-btns-mob">
    <a data-aos="fade-right" href="https://www.linkedin.com/in/its-me-janardhan-burle/" target="_blank" class="btn btn-primary" tabindex="0">
        <i class="lab la-linkedin"></i>
        <span>Hire Me</span>
    </a>
    <div style="margin-left: 50px;"></div>
    <a data-aos="fade-left" class="btn btn-secondary" target="_blank" href="assets/files/Janardhan_Resume.pdf" tabindex="1">
        <i class="las la-file-alt"></i>
        <span>Resume</span>
    </a>
</div>



<div #htmlContent style="display: none;">
    <pre class="content">
&lt;!doctype html>
&lt;html lang="en">
    &lt;head> ....&lt;/head>
    &lt;body>
    &lt;!-- Hover on me to view the content -->
        &lt;pre>
            &lt;h3><span class="visible">Hello,
                    My Name is</span>&lt;/h3>
            &lt;h2><span class="name">Janardhanarao Burle,</span>&lt;/h2>
            &lt;div class="tec-group"> <div class="tech-stack-group">
              <div class="item"><img style="margin-right: 10px;" src="assets/images/angular.svg" height="25" alt="">Angular</div>
              <span>|</span>
              <div class="item"><img style="margin-right: 10px;" src="assets/images/flutter.svg" height="25" alt="">Flutter</div>
              <span>Developer</span>
            </div>
            &lt;/div>
            &lt;p><span class="desc"> I am a Frontend Developer working primarily in the web and mobile spaces.
                         My passion lies in converting a design into code and achieving a close to pixel-perfect end-product.</span>&lt;/p>
            &lt;br>                     
        &lt;/pre>
    &lt;/body>
&lt;/html>
</pre>
</div>

<div #htmlContentMob style="display: none;">
    <pre class="content">
&lt;!doctype html>
&lt;html lang="en">
    &lt;head> ....&lt;/head>
    &lt;body>
    &lt;pre>
    &lt;h3>
    <span class="visible">Hello,
        My Name is</span>&lt;/h3>
    &lt;h2><span class="name">Janardhanarao Burle,</span>&lt;/h2>
    &lt;div class="tec-group">
    <div class="tech-stack-group"><div class="item"><img style="margin-right: 5px;" src="assets/images/angular.svg" height="25" alt="">Angular </div><span>|</span><div class="item"><img style="margin-right: 5px;" src="assets/images/flutter.svg" height="25" alt="">Flutter</div><span>Developer</span></div>
    &lt;/div>
    &lt;p><span class="desc"> My passion lies in converting a design 
            into code and achieving a close to 
            pixel-perfect end-product.</span>&lt;/p>                     
    &lt;/pre>
    &lt;/body>
&lt;/html>
</pre>
</div>