<ng-container *ngIf="loading;else page">
    <div class="container">
        <img [@bounce]="bounceDivState" class="profile-img-loading" alt="Profile" src="assets/images/full.svg" />
        <div class="title">Welcome to my Portfolio</div>
        <span class="description">loading....</span>
    </div>
</ng-container>

<ng-template #page>
    <header>
        <app-header></app-header>
    </header>
    <div class="item" data-aos="fade-up">
        <section id="home">
            <app-landing-page></app-landing-page>
        </section>
    </div>
    <div class="item" data-aos="fade-down">
        <section id="about-me">
            <app-about-me></app-about-me>
        </section>
    </div>
    <div class="item" data-aos="fade-down">
        <section id="projects">
            <app-projects></app-projects>
        </section>
    </div>
    <div class="item" data-aos="fade-down">
        <section id="experience">
            <app-about-me></app-about-me>
        </section>
    </div>
    <div class="item" data-aos="fade-down">
        <section id="projects">
            <app-about-me></app-about-me>
        </section>
    </div>





</ng-template>