:host {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    width: 100%;
    .container {
        width: 100%;
        svg#clouds {
            position: fixed;
            left: -75px;
            z-index: -10;
            bottom: -300px;
            width: 300px;
        }
        svg#circles {
            position: fixed;
            right: -30px;
            z-index: -10;
            top: -50px;
            width: 300px;
            opacity: 0.5;
        }
        svg#circles2 {
            position: fixed;
            z-index: 10;
            bottom: -36px;
            width: 300px;
            right: 40%;
            opacity: 0.2;
        }
        .section-container {
            height: 600px;
            border: 5px solid #ffb623;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            padding: 10px;
            margin: 75px 100px;
            background: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            svg#profile-bg1 {
                position: absolute;
                top: -400px;
                right: -125px;
                z-index: 10;
                width: 500px;
            }
            svg#profile-bg2 {
                position: absolute;
                top: -350px;
                left: -235px;
                z-index: 10;
                width: 300px;
            }
            .profile-img {
                position: absolute;
                bottom: -50px;
                right: -150px;
                z-index: 10;
                width: 600px;
            }
        }
    }
}