:host {
    .scroll-down-right,
    .scroll-down-left {
        position: fixed;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        bottom: 50px;
        font-size: 12px;
        color: #CCC;
        display: flex;
        align-items: center;
        justify-content: center;
        ng-lottie {
            svg {
                fill: #CCC;
            }
        }
    }
    .scroll-down-right {
        right: 10px;
    }
    .scroll-down-left {
        left: 10px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        .profile-img-loading {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgb(82, 221, 140);
            transform: scale(1);
            animation: pulse 2s infinite;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title {
            font-size: 28px;
            font-weight: bold;
            color: #554eca;
        }
        .description {
            font-size: 18px;
            color: #ff6684;
        }
        @keyframes pulse {
            0% {
                transform: scale(0.9);
            }
            70% {
                transform: scale(1);
            }
            100% {
                transform: scale(0.9);
            }
        }
    }
    header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    section {
        margin: 20px 100px;
        color: var(--foreground-tertiary);
    }
    .profile-img-loading {
        width: 350px;
    }
    @media only screen and (max-width: 600px) {
        .scroll-down-right,
        .scroll-down-left {
            display: none;
        }
        section {
            width: 100%;
            margin: 0;
            padding: 15px;
        }
        .container {
            .profile-img-loading {
                width: 280px;
            }
            .title {
                font-size: 24px;
            }
        }
    }
}

* {
    box-sizing: border-box;
}