@font-face {
    font-family: appfont;
    src: url('../fonts/FuturaBookfont.ttf');
}

@font-face {
    font-family: appfont2;
    src: url('../fonts/FuturaBookfont.ttf');
}

body {
    font-family: appfont;
    margin: 0;
    background: var(--background-default);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-ac-jc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-row-ac-jsb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-col-ac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item {
    width: 80%;
    border: 1px solid #f6f6f630;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    position: relative;
    align-items: start;
    margin: 5px;
}

.skill-item .flex-row {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skill-item .flex-row .exp {
    font-size: 13px;
}

.skill-item .flex-row .exp {
    font-size: 13px;
}

.skill-item .bg {
    width: 100%;
    height: 0px;
    border-top: 5px solid #66023224;
    margin-top: 10px;
    border-radius: 15px;
}

.skill-item .progress {
    height: 0px;
    border-top: 5px solid #660132;
    margin-top: 10px;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
}

.tech-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.divider {
    border-left: 1px solid #f6f6f6;
    padding-left: 50px;
    margin: 5px;
}

.projects-container {
    border: 1px solid #f6f6f6;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 20px;
}

.bio-data {
    padding-left: 10px;
}

.bio-data p {
    width: 50%;
    color: #660232;
    line-height: 5px;
    font-size: 14px;
}

.tech-sec span {
    padding: 5px 10px;
    background: #ddd2e069;
    color: #660132;
    font-size: 13px;
    font-weight: bold;
    border-radius: 30px;
    margin: 5px;
    text-align: center;
}

.flex-row-ac {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #660132;
    border-bottom: 1px solid #f6f6f633;
    margin: 5px 0;
    padding: 0 10px 0 0;
}

.flex-row-ac a {
    font-size: 15px;
    color: #660132;
    text-decoration: underline;
}

.flex-row-ac a:hover {
    text-decoration: underline;
}

.flex-row-ac-jfs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.left-sec {
    width: 65%;
    padding: 25px;
    /* background: linear-gradient(to left, transparent 0%, #ada2c9 100%); */
}

.right-sec {
    width: 35%;
    padding: 20px;
    background: linear-gradient(to right, transparent 0%, #ada2c9 100%);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap span {
    background: #66023214;
    width: fit-content;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    list-style: none;
    margin: 5px;
}

.skills-list ul {
    list-style: none;
    font-size: 15px;
    padding-left: 10px;
}

.skills-list ul li {
    margin: 0;
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;
    line-height: 30px;
}

.skills-list ul li:after {
    content: '';
    height: 0.4em;
    width: 0.4em;
    background: #660232;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    left: 0;
}

.no-border-b {
    border-bottom: none;
}

.profile {
    width: 150px;
}

.profile img {
    width: 100%;
}

.right-sec i {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    margin: 8px;
    background: #660132;
}

strong {
    color: #660132;
}

h1,
h2,
h3,
h4 {
    margin: 10px 0;
    color: #660232;
    display: flex;
    align-items: center;
}

.duration {
    background: #660232;
    padding: 5px 15px;
    margin-right: 10px;
    color: #FFF;
    border-radius: 5px;
}

hr {
    border-color: #cccccc1f;
}

p {
    color: var(--background-default)000c2;
    line-height: 25px;
}

i {
    font-size: 20px;
    background-color: #660232;
    padding: 5px;
    border-radius: 50%;
    margin: 5px;
    color: #FFF;
}

.heading i {
    border-radius: 0;
}

.footer-text {
    padding: 10px;
    color: #111;
    border-radius: 10px;
    line-height: 10px;
    width: 100%;
    font-family: 'Cairo', serif;
    font-weight: bold;
}

.profile-pic {
    text-align: center;
    border: 1px solid #cccccc30;
    padding: 10px;
    margin-bottom: 10px;
}

.skills-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 600;
    color: #FFFFFFFF;
    padding: 26px;
    font-family: 'Cairo', serif;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#00a99d), to(#2F2727));
    text-shadow: 1px 2px 3px #304a63;
    border-top-left-radius: 70px;
}

.personal-info-desc {
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;
    font-family: 'Cairo', serif;
    font-size: 16px;
    list-style: none;
    margin: 10px;
    padding: 0;
    font-weight: bold;
}

.personal-info-header {
    margin-bottom: 1em;
    padding-left: 1.5em;
    position: relative;
    font-family: 'Cairo', serif;
    font-size: 16px;
    list-style: none;
    margin: 10px;
    padding: 0;
    font-weight: bold;
    color: #127870;
}

.sub-headings {
    text-transform: uppercase;
    margin-bottom: 0;
    FONT-SIZE: 19px;
    font-weight: bold;
    font-family: Cairo, serif;
    color: #107b73;
}

.side-heading {
    text-transform: uppercase;
    margin-bottom: 0;
    FONT-SIZE: 14px;
    font-weight: bold;
    font-family: Cairo, serif;
    color: #676262;
}

.box {
    overflow: hidden;
    padding: 5px 0px 10px 45px;
    color: black;
}

.box .list-grp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top: 0
}


/* .box .list-grp:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #fff;
    position: absolute;
    top: 0;
    left: 30px
} */

.box .list-grp .list-item {
    margin: 10px 50px 10px;
    position: relative;
    padding: 0 10px;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    width: 90%;
}

.box .list-grp .list-item>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid #66013275;
    position: absolute;
    top: 0;
    left: -30px;
}

.box .list-grp .list-item>span:before,
.box .list-grp .list-item>span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #660132;
    border: 1px solid #66013275;
    position: absolute;
    left: -6px;
}

.box .list-grp .list-item>span:before {
    top: -10px
}

.box .list-grp .list-item>span:after {
    top: 100%
}

.box .list-grp .list-item .sub-list-item {
    font-size: 15px;
    line-height: 26px;
    padding: 10px;
}

.box .name {
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    color: #107f76;
    font-size: 20px;
}

.box .time span {
    position: absolute;
    left: -95px;
    color: #660132;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.box .time span:first-child {
    top: -10px
}

.box .time span:last-child {
    top: 100%
}

.arrow {
    position: absolute;
    top: 105%;
    left: 22%;
    cursor: pointer;
    height: 20px;
    width: 20px
}

.arrow:hover {
    -webkit-animation: arrow 1s linear infinite;
    -moz-animation: arrow 1s linear infinite;
    -o-animation: arrow 1s linear infinite;
    animation: arrow 1s linear infinite;
}

.box .list-grp:last-of-type .arrow {
    position: absolute;
    top: 105%;
    left: 22%;
    transform: rotateX(180deg);
    cursor: pointer;
}

svg {
    width: 20px;
    height: 20px
}

@keyframes arrow {
    0%,
    100% {
        top: 105%
    }
    50% {
        top: 106%
    }
}

@-webkit-keyframes arrow {
    0%,
    100% {
        top: 105%
    }
    50% {
        top: 106%
    }
}

@-moz-keyframes arrow {
    0%,
    100% {
        top: 105%
    }
    50% {
        top: 106%
    }
}

@-o-keyframes arrow {
    0%,
    100% {
        top: 105%
    }
    50% {
        top: 106%
    }
}