<div class="title">Let's get in touch</div>
<div [@bounce]="bounceDivState" class="row">
    <div class="left">
        <div class="sub-title">Where to find me</div>
        <p>
            Do you have an interesting project I can help with? Feel free to reach out to me by using one of the following:
        </p>
        <div class="options">
            <img class="banner" src="assets/images/media-list.svg" alt="">
            <div class="links">
                <div class="link">
                    <img class="icon" src="assets/images/google.svg" alt="">
                    <a href="mailto:officemail.janardhan@email.com">officemail.janardhan@gmail.com</a>
                </div>
                <div class="link">
                    <img class="icon" src="assets/images/linkedin-logo.svg" alt="">
                    <a href="https://www.linkedin.com/in/its-me-janardhan-burle/">its-me-janardhan-burle</a>
                </div>
                <div class="link">
                    <img class="icon" src="assets/images/stackoverflow.svg" alt="">
                    <a href="https://stackoverflow.com/users/13928903/janardhan-burle?tab=profile">janardhan-burle</a>
                </div>
                <div class="link">
                    <img class="icon" src="assets/images/insta.svg" alt="">
                    <a href="">janardhan_burle</a>
                </div>
                <p>You can also use the contact form on this page.</p>
            </div>

        </div>

    </div>
    <div class="right">
        <div data-aos="flip-left" class="mobile">
            <span class="notche"></span>
            <span class="power-btn"></span>
            <span class="vol-up"></span>
            <span class="vol-down"></span>
            <span class="notche-bar"></span>
            <span class="notche-dot"></span>
            <span class="bar"></span>
            <form data-aos="fade-down" [formGroup]="form" class="example-form">
                <img src="assets/images/mail.svg" alt="">
                <mat-form-field class="form-control" appearance="standard">
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput formControlName="fullName" placeholder="Full Name">
                    <mat-error *ngIf="">
                        Full Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-control" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-control" appearance="standard">
                    <mat-label>Message</mat-label>
                    <textarea formControlName="message" rows="6" matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                    <mat-error *ngIf="">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="btn-submit">
                    <button [disabled]="form.invalid" class="btn btn-primary">
                        <span>Send Message</span>
                        <i class="las la-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>