/* You can add global styles to this file, and also import other style files */

:host {
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

body {
    background-image: url("assets/images/background.svg");
    background-repeat: no-repeat;
    font-family: "Cairo", sans-serif !important;
    margin: 0;
    background-size: cover;
    background-position-y: -330px;
    background-position-x: -150px;
}