/* You can add global styles to this file, and also import other style files */

:root {
    /* Colors */
    --foreground-default: #00498c;
    --foreground-secondary: #6c63ff;
    --foreground-tertiary: #000;
    --foreground-quaternary: #f4faff;
    --foreground-light: #41474d;
    --background-default: #FFF;
    --background-secondary: #a3b9cc;
    --background-tertiary: #5c7d99;
    --background-light: #ffffff;
    --primary-default: #5dfdcb;
    --primary-dark: #24b286;
    --primary-light: #b2ffe7;
    --error-default: #ef3e36;
    --error-dark: #800600;
    --error-light: #ffcecc;
    /* Shadows */
    --background-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

:host {
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    background: var(--background-default);
    ;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.btn {
    all: unset;
    border-radius: 5px;
    height: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-size: 14px;
    width: fit-content;
    svg,
    .icon {
        font-size: 25px;
        width: 20px !important;
        margin-right: 10px;
    }
    i {
        font-size: 24px;
        margin: 0 5px;
    }
}

.btn-primary {
    background: var(--background-default);
    ;
    border: 2px solid #0a66c2;
    cursor: pointer;
    color: #0a66c2;
}

.btn-primary:hover {
    background-color: #0a66c2;
    color: #FFF;
}

.btn-secondary {
    background: var(--background-default);
    border: 2px solid #6c63ff;
    cursor: pointer;
    color: #6c63ff;
    .btn-secondary:hover {
        color: #FFF;
        background: #6c63ff;
    }
    .btn:hover {
        box-shadow: var(--background-shadow);
    }
    .btn:disabled {
        box-shadow: none;
        background: var(--background-default);
        border: 2px solid #CCC;
        cursor: not-allowed;
        color: #CCC;
    }
    input mat-form-field {
        font-family: 'Cairo', sans-serif;
        .mat-form-field-wrapper {
            .mat-form-field-appearance-fill .mat-form-field-flex {
                background-color: transparent;
            }
        }
    }
}