/* You can add global styles to this file, and also import other style files */

:root {
    /* Colors */
    --foreground-default: #0a66c2;
    --foreground-secondary: #6c63ff;
    --foreground-tertiary: #121212;
    --foreground-quaternary: #CCCCCC;
    --background-default: #FFF;
    --background-secondary: #A3B9CC;
    --background-tertiary: #5C7D99;
    --background-light: #f4f4f4;
    --primary-default: #5DFDCB;
    --primary-dark: #24B286;
    --primary-light: #B2FFE7;
    --error-default: #EF3E36;
    --error-dark: #800600;
    --error-light: #FFCECC;
    --border-color-primary: #f2f2f2;
    --border-color-secondary: #c6c6c6;
    --card-hover-bg: rgba(255, 255, 255, 0.8);
    --background-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    --profile-shadow-0: 0 0 0 0 rgba(0, 0, 0, 0.7);
    --profile-shadow-7: 0 0 0 10px rgba(0, 0, 0, 0);
    --profile-shadow-10: 0 0 0 0 rgba(0, 0, 0, 0);
}

:host {
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: appfont;
    src: url('/assets/fonts/FuturaBookfont.ttf');
}

@font-face {
    font-family: appfont2;
    src: url('/assets/fonts/FuturaBookfont.ttf');
}

body {
    font-family: appfont;
    margin: 0;
    background: var(--background-default);
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.btn {
    all: unset;
    border-radius: 5px;
    height: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-size: 14px;
    width: fit-content;
    svg,
    .icon {
        font-size: 25px;
        width: 20px !important;
        margin-right: 10px;
    }
    i {
        font-size: 24px;
        margin: 0 5px;
    }
}

.btn-primary {
    background: var(--background-default);
    ;
    border: 2px solid var(--foreground-default);
    cursor: pointer;
    color: var(--foreground-default);
}

.btn-primary:hover {
    background-color: var(--foreground-default);
    color: var(--background-default);
}

.btn-secondary {
    background: var(--background-default);
    border: 2px solid var(--foreground-secondary);
    cursor: pointer;
    color: var(--foreground-secondary);
}

.btn-secondary:hover {
    color: var(--background-default);
    background: var(--foreground-secondary);
}

.btn:hover {
    box-shadow: var(--background-shadow);
}

.btn:disabled {
    box-shadow: none;
    background: var(--background-default);
    border: 2px solid var(----foreground-quaternary);
    cursor: not-allowed;
    color: var(----foreground-quaternary);
}

input mat-form-field {
    font-family: appfont;
    .mat-form-field-wrapper {
        .mat-form-field-appearance-fill .mat-form-field-flex {
            background-color: transparent;
        }
    }
}