<button (click)="submitChange()">Submit</button>
<form [formGroup]="form">
    <div class="flex-row">
        <div class="left-sec">
            <h1>Janardhanarao Burle</h1>
            <h3>
                <img style="margin-right:5px" src="../../../assets/images/flutter.svg" height="25" alt=""> Flutter |
                <img style="margin:5px"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                    height="25" alt=""> Angular Developer
            </h3>
            <hr>
            <textarea name="" id="" formControlName="description"></textarea>
            <h3 class="heading">
                <i class="las la-suitcase"></i>
                <span class="resume-heading">Work Experience</span>
                <button (click)="addNewExp()">+</button>
            </h3>
            <hr>
            <ng-container formArrayName="experience">
                <ng-container *ngFor="let exp of getFormArray(form,'experience').controls;let i=index">
                    <button (click)="removeExp(i)">X</button>
                    <ng-container [formGroupName]="i">
                        <div class="flex-row-ac-jsb">
                            <h4>
                                <span class="duration">
                                    <textarea formControlName="title"></textarea>
                                </span>
                            </h4>
                            <h4>
                                <textarea formControlName="clientInfo"></textarea>
                            </h4>
                        </div>
                        <div class="box">
                            <ul class="list-grp" id="first-list">
                                <button (click)="addPoint(getFormArray(exp,'info'))">+</button>

                                <li class="list-item">
                                    <span></span>
                                    <div class="flex-row-ac-jsb">
                                        <div>
                                            <ng-container formArrayName="info">
                                                <ng-container
                                                    *ngFor="let point of getFormArray(exp,'info').controls;let in=index">
                                                    <ul class="sub-list-item">
                                                        <li>
                                                            <textarea [formControlName]="in"></textarea>
                                                        </li>
                                                        <button
                                                            (click)="removePoint(in,getFormArray(exp,'info'))">X</button>

                                                    </ul>
                                                </ng-container>
                                            </ng-container>

                                            <div class="flex-row-ac-jsb projects-container">
                                                <div>
                                                    <h4>Projects Worked on:</h4>
                                                    <ng-container formArrayName="projects">
                                                        <div class="flex-col-ac">
                                                            <div class="tech-sec">
                                                                <ng-container
                                                                    *ngFor="let point of getFormArray(exp,'projects').controls;let in=index">
                                                                    <span> <textarea
                                                                            [formControlName]="in"></textarea></span>
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>

                                                <div class="divider">
                                                    <h4>Skillset Used:</h4>
                                                    <div class="flex-col-ac">
                                                        <div class="tech-sec">
                                                            <ng-container formArrayName="skills">
                                                                <ng-container
                                                                    *ngFor="let point of getFormArray(exp,'skills').controls;let in=index">
                                                                    <span> <textarea
                                                                            [formControlName]="in"></textarea></span>
                                                                </ng-container>
                                                            </ng-container>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="time">
                                        <span><textarea formControlName="end" style="width:100px"></textarea></span>
                                        <span><textarea formControlName="start" style="width:100px"></textarea></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </ng-container>
                <hr>
            </ng-container>


            <h3 class="heading">
                <i class="las la-graduation-cap"></i>
                <span class="resume-heading">Education</span>
            </h3>
            <hr>
            <div class="box">
                <ul class="list-grp" id="first-list">
                    <li class="list-item">
                        <span></span>
                        <div class="flex-row-ac-jsb">
                            <div>
                                <h4>Bachelor Of Technology</h4>
                                <ul class="sub-list-item">
                                    <li><strong>Branch</strong>: Electronics and Communication Engineering (ECE)</li>
                                    <li><strong>Institute</strong>: Lendi Institute Of Technology- Vizianagaram</li>
                                    <li><strong>University</strong>: Jawaharlal Nehru Technological University-Kakinada
                                        (JNTU-Kakinada)
                                    </li>
                                    <li><strong>Percentage</strong>: <strong>80.07%</strong>
                                    </li>
                                    <li><strong>Main coursework</strong>: Data Structures and Algorithms, Computer
                                        Architecture, Analog & Digital communications, VLSI, Digital communications etc
                                    <li>
                                        <div class="flex-row-ac-jsb">
                                            <div>
                                                <h4>Project:</h4>
                                                <ul class="sub-list-item">
                                                    <li><strong>Project Name: </strong>: Android Controlled Home
                                                        Appliances system
                                                    </li>
                                                    <li><strong>Software/Hardware Used: </strong>: MIT App Inventor,
                                                        Arduino Uno, Bluetooth Module, GSM Module etc.
                                                    </li>
                                                    <li>
                                                        Developed an efficient Module to be able to communicate Cellular
                                                        and Bluetoothly by receiving the instructions from Andoid
                                                        application which is developed using MIT App Inventor.
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- <div class="flex-col-ac">
                                                <div class="tech-sec">
                                                    <span>82.90%</span>
                                                </div>
                                            </div> -->
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                        <div class="time">
                            <span>Apr, 2016</span>
                            <span>Jun, 2012</span>
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="heading">
                <i class="las la-check-square"></i>
                <span class="resume-heading">Declaration</span>
            </h3>
            <hr>

            <p>I hereby declare that all the above information provided is true to the best of my knowledge.</p>
            <div class="flex-row-ac-jsb">
                <p>
                    06 April, 2022.
                </p>
                <p>
                    Janardhanarao Burle
                </p>
            </div>
            <br>
            <br>
        </div>
        <div class="right-sec">
            <br>
            <div class="flex-row-ac-jc">
                <div class="profile">
                    <img src="https://janardhan-portfolio.web.app/assets/images/profile.png" alt="">
                </div>


            </div>
            <br>
            <!-- <div class="flex-row-ac">
                <i class="las la-blog"></i>
                <div class="flex-row-ac-jc"><a style="font-size: 16px;"
                        href="https://janardhan-portfolio.web.app/">https://janardhan-portfolio.web.app/</a>
                </div>
            </div> -->
            <!-- <div class="flex-row-ac">
                <i class="las la-phone-volume"></i>
                <div class="mobile"><span>+974 31618247</span> / <span>+91 8074031023</span></div>
            </div> -->
            <!-- <div class="flex-row-ac">
                <i class="las la-envelope"></i>
                <div>officemail.janardhan@gmail.com</div>
            </div> -->
            <div class="flex-row-ac">
                <i class="las la-map-marked-alt"></i>
                <div class="flex-row-ac-jc"><a style="font-size: 16px;"
                        href="https://goo.gl/maps/Dsp4EUHYTVLUEhhTA">Najma,
                        Doha - Qatar</a>
                </div>
            </div>
            <!-- <div class="flex-row-ac">
                <i class="lab la-linkedin"></i>
                <div class="flex-row-ac-jc"><a
                        href="https://www.linkedin.com/in/its-me-janardhan-burle/">https://www.linkedin.com/in/its-me-janardhan-burle</a>
                </div>
            </div> -->
            <div class="flex-row-ac">
                <i class="lab la-stack-overflow"></i>
                <div class="flex-row-ac-jc"><a
                        href="https://stackoverflow.com/users/13928903/janardhan-burle">https://stackoverflow.com/users/13928903/janardhan-burle</a>
                </div>
            </div>
            <div class="flex-row-ac">
                <i class="lab la-github"></i>
                <div class="flex-row-ac-jc"><a
                        href="https://github.com/JanardhanBurle">https://github.com/JanardhanBurle</a>
                </div>
            </div>

            <div class="flex-row-ac no-border-b">
                <i class="las la-laptop-code"></i>
                <div class="duration">Technical expertise</div>
            </div>
            <div class="flex-col-ac" style="align-items: start;">
                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Flutter, Dart</div>
                        <div class="exp">1.5 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 80%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Angular Framework (v13 till v2)</div>
                        <div class="exp">6 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 92%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Javascript</div>
                        <div class="exp">6 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 90%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Node Js</div>
                        <div class="exp">3 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 83%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">ASP .Net</div>
                        <div class="exp">2 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 83%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Backbase</div>
                        <div class="exp">2 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 75%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Sitefinity</div>
                        <div class="exp">1.6 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 75%;" class="progress"></div>
                </div>


                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Mongo DB, Express Js</div>
                        <div class="exp">1 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 70%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Angular Material, Prime NG</div>
                        <div class="exp">5 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 90%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">SQL, MySql</div>
                        <div class="exp">3 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 81%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">HTML5</div>
                        <div class="exp">6 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 90%;" class="progress"></div>
                </div>

                <div class="flex-col-ac skill-item">
                    <div class="flex-row">
                        <div class="tech">Bootstrap4, SCSS</div>
                        <div class="exp">6 years</div>
                    </div>
                    <div class="bg"></div>
                    <div style="width: 85%;" class="progress"></div>
                </div>


            </div>

            <div class="flex-row-ac no-border-b">
                <i class="las la-info-circle"></i>
                <div class="duration">More About me</div>
            </div>
            <div class="flex-row-ac skills-list">
                <ul>
                    <li>My layouts will work on any device, big or small.
                    </li>
                    <li>Fast load times and lag free interaction, my highest priority. </li>
                    <li>Strong preference for easy to use, intuitive shared Components.
                    </li>
                    <li> Good at Analytical, Interpersonal and Communication skills.
                    </li>
                    <li>Able to multitask and juggle multiple pressing projects simultaneously, meeting all deadlines.
                    </li>
                </ul>
            </div>

            <div class="flex-row-ac no-border-b">
                <i class="las la-desktop"></i>
                <div class="duration">Operating System</div>
            </div>
            <div class="flex-row-ac flex-wrap">
                <span>Mac OS</span>
                <span>Windows</span>
                <span>Android</span>
            </div>



            <div class="flex-row-ac no-border-b">
                <i class="las la-trophy"></i>
                <div class="duration">Awards and Achievements</div>
            </div>
            <div class="flex-row-ac skills-list">
                <ul>
                    <li>Recieved appreciation from the
                        <b>QIB Management</b> for the work in making application
                        <b>(Mobile Banking App)</b> in LIVE
                    </li>
                    <li>I have been awarded a
                        <b>Performance band</b> of
                        <b>'A'</b> for the contribution I have made during the financial year 2017-18 and 2018-19.
                    </li>
                    <li>Appreciated by the
                        <b>Commercial Bank of Dubai</b> for the contribution in making application
                        <b>(CBD Wallet)</b> in LIVE
                    </li>
                    <li>Appreciated by the
                        <b>Central Bank of UAE</b> for the complete team effort which helped the project
                        <b>(UAE Payment Gateway System)</b> to live on-time without any issues on July 2017.
                    </li>
                    <li>Awarded
                        <b>Best Fresher of the year</b> in the team and recieved highest rating
                        <b>'5'</b> for the Anniversary 2016-17.
                    </li>
                </ul>
            </div>

            <!-- <div class="flex-row-ac no-border-b">
                <i class="las la-user-alt"></i>
                <div class="duration">Personal Information</div>
            </div>
            <div class="bio-data">
                <div class="flex-row">
                    <p>Father's Name:</p>
                    <p>Appalanarayana Burle</p>
                </div>

                <div class="flex-row">
                    <p>Date Of Birth:</p>
                    <p>11 Sep, 1993</p>
                </div>

                <div class="flex-row">
                    <p>Gender:</p>
                    <p>Male</p>
                </div>
                <div class="flex-row">
                    <p>Marital Status:</p>
                    <p>Single</p>
                </div>

                <div class="flex-row">
                    <p>Nationaility:</p>
                    <p>India</p>
                </div>
                <div class="flex-row">
                    <p>Languages:</p>
                    <p>English, Telugu, Tamil</p>
                </div>
            </div> -->
        </div>
    </div>
</form>