:host {
    margin: 25px 0;
    font-family: 'Cairo', sans-serif;
    .title {
        text-align: center;
        font-size: 34px;
        color: var(--foreground-default);
        margin: 20px;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .exp-container {
            width: 100%;
            .details {
                position: relative;
                transition: all 0.5s linear;
                padding-left: 50px;
                margin-left: 100px;
                .header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    .role {
                        background: #f1fafe;
                        color: #0175b0;
                        padding: 0 10px;
                        border-radius: 5px;
                        font-size: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .client {
                        background: #bee9ff38;
                        color: #0175b0;
                        padding: 0 0 0 15px;
                        border-radius: 50px;
                        font-size: 17px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .logo {
                            height: 25px;
                            margin: 0 0 0 20px;
                            background: #0175b0;
                            padding: 5px 10px;
                            border-radius: 50px;
                        }
                    }
                }
                ul {
                    margin: 0;
                    padding: 20px;
                }
                .date {
                    position: absolute;
                    left: -120px;
                    top: -8px;
                    font-size: 15px;
                    text-align: right;
                    width: 110px;
                }
                .start-date {
                    position: absolute;
                    left: -120px;
                    bottom: -20px;
                    font-size: 15px;
                    text-align: right;
                    width: 110px;
                }
                .location {
                    position: absolute;
                    left: -70px;
                    transform: rotate( -90deg);
                    top: 50%;
                    font-size: 13px;
                    color: #3f3d56;
                }
                .line {
                    content: "";
                    display: block;
                    width: 0;
                    height: 100%;
                    border: 1px solid #efeeff;
                    position: absolute;
                    left: 7px;
                }
            }
            .details:before,
            .details::after {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                background: var(--foreground-secondary);
                border-radius: 50%;
                left: 0;
                z-index: 1;
            }
            .details:first-child:before,
            .details:last-child:after {
                background: var(--foreground-secondary)
            }
            .details:before,
            .details:after {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                background: #a99eff;
                border-radius: 50%;
                left: 0;
                z-index: 1;
            }
        }
    }
    @media only screen and (max-width: 600px) {
        .title {
            font-size: 24px;
            color: var(--foreground-default);
            margin: 0;
            text-align: start;
        }
        .title-desc {
            text-align: left;
        }
        .row {
            margin: 25px 0;
            .exp-container {
                .details {
                    position: relative;
                    transition: all 0.5s linear;
                    padding-left: 20px;
                    margin-left: 20px;
                    .date {
                        position: absolute;
                        left: -70px;
                        top: 0;
                        font-size: 15px;
                        text-align: center;
                        width: 110px;
                        transform: rotate( -90deg);
                    }
                    .start-date {
                        position: absolute;
                        left: -70px;
                        bottom: 0px;
                        font-size: 15px;
                        text-align: center;
                        width: 110px;
                        transform: rotate( -90deg);
                    }
                    .header {
                        .role {
                            background: none;
                            margin-bottom: 10px;
                            font-size: 18px;
                        }
                        .client {
                            width: 100%;
                            font-size: 17px;
                            .logo {
                                height: 20px;
                                margin: 0 0 0 20px;
                                background: #0175b0;
                                padding: 5px 10px;
                                border-radius: 50px;
                            }
                        }
                    }
                }
                .details:first-child {
                    .date {
                        top: 10px;
                    }
                }
            }
        }
    }
}